<?xml version="1.0"?>
<!-- 
    LEAD HighLevel PACS Configuration file
    This configuration file is used to store the database settings for all the LEADTOOLS DICOM HighLevel PACS components
-->
<configuration>

    <configSections>
      <section name="connectionStrings" type="System.Configuration.ConnectionStringsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" requirePermission="false"/>
    </configSections>  

</configuration>
