<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <runtime>
     <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
       <dependentAssembly>
         <assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
         <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
       </dependentAssembly>
       <dependentAssembly>
         <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
         <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
       </dependentAssembly>
     </assemblyBinding>
   </runtime>
   <appSettings>
      <add key="ApplicationIcon" value="App.ico"/>
     
     <!--If you choose to rename the shipping assembly 'Leadtools.Dicom.Server.exe', uncomment the line below and place the new name for the value-->
     <!--<add key="DicomServerExeName" value="YourRenamed_Leadtools.Dicom.Server.exe"/>-->
   </appSettings>
</configuration>