<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net45" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Data" version="6.0.1304.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Data.SqlCe" version="6.0.1304.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Logging" version="6.0.1304.0" targetFramework="net45" />
  <package id="Leadtools.Dicom" version="20.0.0.6" targetFramework="net45" />
  <package id="Leadtools.Dicom.Pacs.Scp" version="20.0.0.6" targetFramework="net45" />
  <package id="Leadtools.Formats.Raster.Additional" version="20.0.0.6" targetFramework="net45" />
  <package id="Leadtools.Formats.Raster.Common" version="20.0.0.6" targetFramework="net45" />
  <package id="Leadtools.Image.Processing" version="20.0.0.6" targetFramework="net45" />
  <package id="Leadtools.Kernel" version="20.0.0.6" targetFramework="net45" />
  <package id="Leadtools.Medical.WinForms" version="20.0.0.6" targetFramework="net45" />
  <package id="Leadtools.MedicalCollection.Workstation" version="20.0.0.6" targetFramework="net45" />
  <package id="Leadtools.Ocr" version="20.0.0.6" targetFramework="net45" />
  <package id="Leadtools.Ocr.Languages.Main" version="20.0.0.6" targetFramework="net45" />
  <package id="Leadtools.Ocr.Languages.Main.NET" version="20.0.0.6" targetFramework="net45" />
  <package id="Leadtools.Pacs.DataAccessLayers" version="20.0.0.6" targetFramework="net45" />
  <package id="Leadtools.Pacs.EndUser.Addins" version="20.0.0.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.Cors" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.CSharp" version="4.6.0" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net45" />
  <package id="SharePoint.Client" version="15.0.0" targetFramework="net45" />
  <package id="SharePoint.Client.Runtime" version="15.0.0" targetFramework="net45" />
  <package id="SqlServerCompact" version="4.0.8854.1" targetFramework="net45" />
  <package id="Unity" version="4.0.1" targetFramework="net45" />
</packages>