<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="advancedSettings" type="Leadtools.Dicom.AddIn.Configuration.AdvancedSettingsSection, Leadtools.Dicom.AddIn" />
    </configSections>
    <advancedSettings>
        <addins>
            <addin name="StoreProxy">
                <customData>
                    <custom name="ProxyOptions" type="Leadtools.AddIn.StoreProxy.ProxyOptions, Leadtools.AddIn.StoreProxy">
                        <ProxyOptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                            <AETitle>DCM_STOREPROXY</AETitle>
                            <ImplementationClass />
                            <ImplementationVersion />
                            <ProtocolVersion />
                            <UseProxyAE>false</UseProxyAE>
                            <Server>
                                <AETitle />
                                <IPHostname />
                                <Port>0</Port>
                                <Timeout>0</Timeout>
                                <UseTls>false</UseTls>
                                <Certificate />
                                <PrivateKey />
                                <KeyPassword />
                                <Compression>Native</Compression>
                            </Server>
                        </ProxyOptions>
                    </custom>
                </customData>
            </addin>
            <addin name="Router">
                <customData>
                    <custom name="RouterOptions" type="Leadtools.AddIn.Router.Common.RouterOptions, Leadtools.AddIn.Router">
                        <RouterOptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                            <ResendTimeout>30</ResendTimeout>
                            <MaxResendTries>5</MaxResendTries>
                            <TempDirectory />
                            <ScriptDirectory />
                            <FailureDirectory />
                            <ImageDirectory />
                            <Scu>
                                <AETitle>DCM_ROUTER</AETitle>
                                <ImplementationClass />
                                <ImplementationVersion />
                                <ProtocolVersion />
                            </Scu>
                            <StorageCommit>false</StorageCommit>
                            <ScriptThreads>5</ScriptThreads>
                            <MemoryThreshold>0</MemoryThreshold>
                        </RouterOptions>
                    </custom>
                </customData>
            </addin>
          <addin name="Leadtools.AddIn.Broker.Host">
            <customData>
              <custom name="BrokerOptions" type="Leadtools.AddIn.Broker.Host.BrokerOptions, Leadtools.AddIn.Broker.Host, Version=17.5.0.0, Culture=neutral, PublicKeyToken=null">
                <BrokerOptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                  <ConfigFile>Broker.config</ConfigFile>
                </BrokerOptions>
              </custom>
            </customData>
          </addin>
        </addins>
    </advancedSettings>
</configuration>
