<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
     <bindings>
        <wsHttpBinding>
           <binding name="wsHttpBindingNoSCT">
              <security mode="None">
                 <transport clientCredentialType="None" />
                 <message establishSecurityContext="false" />
              </security>
           </binding>
        </wsHttpBinding>
     </bindings>
    <!--<extensions>
      <behaviorExtensions>
        <add name="errorHandler"
             type="Leadtools.Medical.Worklist.Wcf.Utils.ServiceErrorHandlerElement, Leadtools.Medical.Worklist.Wcf" />
      </behaviorExtensions>
    </extensions> -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="Leadtools.Medical.Worklist.Wcf.Service.BrokerServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <!--<errorHandler />-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="Leadtools.Medical.Worklist.Wcf.Service.BrokerServiceBehavior"
               name="Leadtools.Medical.Worklist.Wcf.Service.BrokerService">
        <endpoint address=""
                  binding="wsHttpBinding"
                  bindingConfiguration="wsHttpBindingNoSCT" 
                  contract="Leadtools.Medical.Worklist.Wcf.Service.IBrokerService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/Leadtools.Medical.Worklist.Wcf.Service/BrokerService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>