<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="leadLogging" type="Leadtools.Logging.Configuration.ConfigSectionHandler, Leadtools.Logging" />
	</configSections>
	<leadLogging>
		<channels>
			<channel name="DataAccessLoggingChannel" type="Leadtools.Medical.Logging.DataAccessLayer.DataAccessLoggingChannel, Leadtools.Medical.Logging.DataAccessLayer" />
		</channels>
	</leadLogging>
  <appSettings>
     <add key="ApplicationName" value="Medical Workstation Viewer Main Demo"/>
     <add key="DatabaseConfigName" value="LEADTOOLS Database Configuration Wizard"/>
     <add key="DatabaseConfigEXENam" value="CSPacsDatabaseConfigurationDemo_Original.exe"/>
     <add key="DatabaseConfigAltEXENam" value="CSPacsDatabaseConfigurationDemo.exe"/>
     <add key="RunPacsConfig" value="true"/>
     
    <add key="MedicalNetKey" value=""/>
    <add key="PacsFrmKey" value=""/>
   
    <add key="AutoCreateListenerService" value="false"/>
    <add key="DefaultListenerServiceName" value="L19_WS_SERVER_32"/>
    <add key="DefaultListenerServiceDisplayName" value="LEADTOOLS Workstation Listener Service"/>
     
    <add key="WsAETitle" value="L19_WS_CLIENT_32"/>
    <add key="WsPort" value="1001"/>
    <add key="WsAddress" value="127.0.0.1"/>
    <add key="DebugMode" value="true"/>
    <add key="DebugInfo" value=""/>
    <add key="CompressionInfo" value=""/>
    <add key="ClientBrowsingMode" value="LocalDb"/>
    <add key="QueueAutoLoad" value="true"/>
    <add key="QueueRemoveItem" value="false"/>
    <add key="ContinueRetrieveOnDuplicateInstance" value="false"/>
    <add key="EnableLazyLoading" value="true"/>
    <add key="LazyLoadingHiddenImages" value="2"/>
    <add key="CanBrowseDicomDir" value="true"/>
    <add key="SaveSessionBehavior" value="PromptUser"/>
    <add key="ShowStudyTimeline" value="false"/>
  </appSettings>
	<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
	</runtime>
</configuration>
